/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

/* Theme colors */
$primary-light: #63a4ff;
$primary: #1976d2;
$primary-dark: #004ba0;

$secondary-light: #757de8;
$secondary: #3f51b5;
$secondary-dark: #002984;

$text-dark: #000000cc;
$text-light: #ffffff;
$text-grey: #afafaf;

$grey-base: #425a70;
