/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/variables.scss" as variables;

.container {
	display: flex;
	align-items: center;
	margin-left: 14px;

	.icon {
		margin-right: 8px;
		color: white;
	}

	.input {
		height: 50%;
		width: 40vw;
		padding: 0 4px;
		border-radius: variables.$border-radius;
		border: none;
		outline: none;
	}
}
