/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/colors.scss" as colors;
@use "../../styles/variables.scss" as variables;

.currentWeatherCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 285px;
	background-color: colors.$primary;
	margin-left: 36px;
	color: colors.$text-light;
	border-radius: variables.$border-radius;

	.heading {
		margin-bottom: 0;
	}

	.spinnerContainer {
		display: flex;
		align-items: center;
		height: 60%;
	}

	.description {
		margin: 6px 0;
	}

	.temperature {
		font-size: 32px;
		margin: 6px 0;
	}

	.unitsContainer {
		display: flex;
		align-items: center;
		justify-self: flex-end;
	}
}
