/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/colors" as colors;
@use "../../styles/variables" as variables;

.errorAlertContent {
	@include variables.centerVertical();

	.errorIcon {
		margin-right: 6px;
		padding-bottom: 2px;
	}
}

.modalBodyContainer {
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	.inputAndLabelContainer {
		display: flex;
		flex-direction: column;
		margin-bottom: 6px;
	}

	label {
		align-self: start;
		color: colors.$text-grey;
		margin-bottom: 2px;
	}

	.spinnerContainer {
		min-height: 60px;
		display: flex;
		align-items: center;
	}

	.signInButtonsContainer {
		margin-top: 14px;

		.signInButton {
			margin: 6px;
		}
	}
}
